* {
    margin: 0;
}

body {
    display: grid;
    height: 100vh;
    width: 100vw;
    font-family: 'Josefin Sans', sans-serif;

    /* here are the styles below we want to 'toggle' later */
    background-color: #151515;
    color: white;
}

hr {
    margin: 15px 0px 20px;
    color: #f0f;
}

.card {
    place-self: center;
    max-width: 300px;
    padding: 30px 20px;
    border-radius: 4px;
    box-shadow: 0 0 5px black;

    /* here are the styles below we want to 'toggle' later */
    background-color: #15171b;
}